.header {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.date-filter {
  display: flex;
  flex: 1;
  align-items: center;
}

.filters {
  display: flex;
  align-items: center;
}

.filters span {
  margin: 10px;
}

.filters select:hover {
  background-color: lightcoral;
  color: #333;
  cursor: pointer;
}

.filters select {
  border-radius: 3px;
}
